{% extends "layout.html" %}

{% block content %}

<h2>Orders</h2>

<table class="table table-striped">
    <tr>
        <th>TV Time</th>
        <th>IBKR Time</th>
        <th>Order ID</th>
        <th>Ticker</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Order Type</th>
        <th>Side</th>
        <th>Status</th>
        <th>Cancel</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>
            {{ order.tvTime }}
        </td>
        <td>
            {{ order.execTime }}
        </td>
        <td>
            {{ order.orderId }}
        </td>
        <td>
            {{ order.orderDesc }}
        </td>
        <td>
            {{ order.sizeAndFills }}
        </td>
        <td>
            {{ order.avgPrice }}
        </td>
        <td>
            {{ order.orderType }}
        </td>
        <td>
            {{ order.side }}
        </td>
        <td>
            {{ order.status }}   
        </td>
        <td>
            <a href="/orders/{{ order.orderId }}/cancel" class="btn btn-light">x</a><br />
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="8">No active orders</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}